<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Catherine Sprague, LCSW</title>

    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Scripts -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/materialize.js"></script>
    <script src="/scripts/app.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Catherine Sprague, LCSW</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/about_me">About me</a></li>
          <li><a href="/pyscotherapy">Pyscotherapy</a></li>
          <li><a href="/contact">Contact</a></li>
          {{#if user}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>
          {{else}}
            <li><a class="waves-effect waves-light btn" href="/users/login">Login</a></li>
          {{/if}}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/about_me">About me</a></li>
          <li><a href="/pyscotherapy">Pyscotherapy</a></li>
          <li><a href="/contact">Contact</a></li>
          {{#if user}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>
          {{else}}
            <li><a href="/users/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <!-- Body -->
    <div class="body-section">

      <!-- Errors -->
      {{#if success_msg}}
          <div class="col s4 card-panel green lighten-4 green-text text-darken-4">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
      <div class="col s4 card-panel red lighten-4 red-text text-darken-4">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
      <div class="col s4 card-panel red lighten-4 red-text text-darken-4">{{error}}</div>
      {{/if}}

      {{{ body }}}
    </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Spragala
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

  </body>
</html>
