<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />
    <title>Cathy Sprats, LCSW</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Muli:200,200i,300,300i,400,400i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400|Playfair+Display:400,700" rel="stylesheet" />

    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Scripts -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/materialize.js"></script>
    <script src="/scripts/app.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Cathy Sprats, LCSW</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/about_me">About me</a></li>
          <li><a href="/psychotherapy">Psychotherapy</a></li>
          <li><a href="/contact">Contact</a></li>
          {{#if user}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>
          {{else}}
            <li><a class="waves-effect waves-light btn" href="/users/login">Login</a></li>
          {{/if}}
          {{#if user.admin}}
            <li><a class="waves-effect waves-light btn" href="/dashboard">Dashboard</a></li>
          {{/if}}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/about_me">About me</a></li>
          <li><a href="/psychotherapy">Pyscotherapy</a></li>
          <li><a href="/contact">Contact</a></li>
          {{#if user}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>
          {{else}}
            <li><a href="/users/login">Login</a></li>
          {{/if}}
          {{#if user.admin}}
            <li><a href="/dashboard">Dashboard</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <!-- Body -->
    <div class="body-section">

      <!-- Success & Errors -->
      {{#if success_msg}}
          <div class="col s4 card-panel green lighten-4 green-text text-darken-4">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
      <div class="col s4 card-panel red lighten-4 red-text text-darken-4">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
      <div class="col s4 card-panel red lighten-4 red-text text-darken-4">{{error}}</div>
      {{/if}}

      {{{ body }}}

    </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <p class="footer-text">
          © 2017 Copyright Spragala
        </p>
        <a class="grey-text text-lighten-4 right footer-email" href="mailto:SpragueTherapy@gmail.com"><i class="material-icons">email</i>Email Catherine</a>
      </div>
    </footer>

  </body>
</html>
