<div class="row">
  <h1 class="flow-text">DASHBOARD</h1>
  <div class="col s12 index-text">

    <!-- Client List -->
    <div class="users-index">
      <ul class="collection with-header">
        <li class="collection-header"><h4>Clients</h4></li>
        {{#each users}}
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">{{name}}</span>
            <br>
              <div class="appointment-block">
                {{#each times}}
                <div class="visible">
                  <p> Next Appointment: <br><strong>{{title}}</strong></p>
                  <p id="time"> Time: {{time}} </p>
                  <p>Location: {{location}} </p>
                  <p>Notes: {{notes}} </p>
                </div>
                <button class="edit-button">Edit</button>
                <div class="not-visible">
                  <form class="update-appointment" method="post" action="/appointments/{{id}}">
                    <input type="text" name="title" value="{{title}}"/>
                    <input name="date" type="text" class="datepicker" value="{{time}}">
                    <input name="hour" type="text" class="timepicker" value="{{time}}">
                    <input type="text" name="location" value="{{location}}"/>
                    <input type="textarea" name="notes" value="{{notes}}"/>
                    <input type="submit"/>
                  </form>
                </div>
                <button class="delete-button" data-id="{{id}}">Delete</button>
                {{/each}}
              </div>
               <p>Balance: $0.00</p>
            <a href="/users/{{id}}" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        {{/each}}
      </ul>
    </div>

    <!-- New Appointment -->
    <div class="calendar">
      <div class="row">
        <form class="col s6 offset-s3" method="post" action="/new_appointment">
          <div class="input-field col s12">
          <select id="client-select">
            <option value="" disabled selected>Choose the client</option>
            {{#each users}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
          <!-- Hidden field to pass client id -->
          <input name="_user" type="hidden" id="client-id">
        </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="title" type="text" class="validate">
              <label for="title">Title</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="location" type="text" class="validate">
              <label for="location">Location</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="notes" id="text-area-new-apt" class="materialize-textarea"></textarea>
              <label for="notes">Comments</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="date" type="text" class="datepicker">
              <label for="date">Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="hour" type="text" class="timepicker">
              <label for="hour">Time</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" >Submit
          </button>
        </form>
      </div>
    </div> <!-- .new-appointment form -->

    <div class="bookshelf">
      <div class="row">
        <form class="col s6 offset-s3" id="newLinkForm">
          <div class="input-field col s12">
          <select class="link-select" name="id">
            <option value="" disabled>Add a link</option>
            {{#each users}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="links" type="text" class="validate link-data">
              <label for="links">Links</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" >Submit
          </button>
        </form>
      </div>
    </div>

  </div> <!-- .index-text -->
</div> <!-- .row -->
