<div class="row">
  <div class="col s6 offset-s3 index-text">
    <span class="flow-text">PROFILE PAGE</span>
  </div>
  <div class="col s6 offset-s3 index-text">
    <span class="flow-text">Welcome {{username}}</span>
  </div>

    {{#each appointments}}
      <p> Appointments: {{title}}<br>{{location}}<br>{{time}}<br>{{notes}} </p>
    {{/each}}

    <div class="test">
      <h1> Hi </h1>
    </div>

</div>
